{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block main_content %}
<main id="content" role="main">
	<div class="container container-boxes">
		<div class="row">
			<div class="col-sm-6">
				<div class="box white-bg">
					<h1 class="title-404">Error 404 Page not found</h1>
					<p>Apologies, but no results were found for the requested page. Perhaps searching will help find a related item or</p>
					<p class="no-bottom">
						<a href="/" class="button go-home-404">Go Home</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock main_content %}