astroid
beautifulsoup4
bs4
certifi
chardet
Django
django-summernote
easy-thumbnails
flake8
gunicorn
idna
isort
lazy-object-proxy
lxml
mccabe
nltk
olefile
Pillow
psycopg2
pycodestyle
pyflakes
pylint
python-dateutil
python-slugify
pytz
requests
selenium
six
Unidecode
urllib3
wrapt
django-debug-toolbar
gunicorn
django-cache-memoize
django-bootstrap4