{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block main_content %}
<main id="content" class="white-background" role="main">
	<div class="container">
		<div class="inner">
			<div class="margin-4"></div>
			<h1>{{object.h1}}</h1>
			<div class="margin-4"></div>
			{{object.content|safe}}
		</div>
	</div>
</main>
{% endblock main_content %}

{% block scripts %}
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/site.js"></script>
<script type="text/javascript" src="/static/js/owl.carousel.min.js"></script>
<script>
	jQuery(".owl-carousel.owl-services").owlCarousel({
		items   : 4,
		margin  : 30,
		nav     : false,
		navText : ['', ''],
		dots    : true,
		loop    : true,
		responsive : {
			0: {
				items   : 1
			},
			768: {
				items   : 2
			},
			992: {
				items   : 3
			}
		}
	});

	jQuery(".owl-carousel.owl-testimonials2").owlCarousel({
		items   : 1,
		nav     : false,
		navText : ['', ''],
		dots    : true,
		loop    : true
	});
</script>
{% endblock scripts %}